<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".work0603.SearchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".work0530.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".lesson0601.DemoPermissionActivity"
            android:exported="true" />
        <activity
            android:name=".lesson0601.DemoHttpActivity"
            android:exported="true" />
        <activity
            android:name=".work0602.PhonePermissionActivity"
            android:exported="true" />

        <activity android:name=".work0603.GameDetailActivity" android:exported="true"/>
        <activity
            android:name=".lesson0603.LeakActivity"
            android:exported="false" />
        <activity
            android:name=".lesson0603.HandlerActivity"
            android:exported="false"
            android:label="@string/title_activity_handler"
            android:theme="@style/Theme.MyApplication" />
    </application>

</manifest>